.container {
	width: 100%
}

.ember-abstract-dropdown {
	position: relative;
	background-color: transparent
}

.ember-abstract-dropdown[disabled] {
	pointer-events: none
}

.ember-abstract-dropdown:not([disabled]) .ember-abstract-dropdown__trigger {
	cursor: pointer
}

.ember-abstract-dropdown:not([disabled]) .ember-abstract-dropdown__content {
	position: absolute;
	z-index: 6;
	text-overflow: ellipsis
}

.hidden {
	display: none
}
